{% extends "mdpage/root.html" %}
{% block main_content %}
    {% block mdpage_navbar %}
    {% with mdp_type.get_absolute_url as mdpage_listing %}
    <div class="mdpage-bar clearfix">
        <ul class="list-unstyled list-inline">
            {% if mdp_type.description %}{{ mdp_type.description }}:{% endif %}
            <li><a href="{{ mdpage_listing }}?list">Home</a></li>
            {% if user.is_authenticated %}<li><a href="{{ mdpage_listing }}?new">New</a></li>{% endif %}
        </ul>
        <form action="{{ mdpage_listing }}" class="form-inline" method="get" accept-charset="utf-8">
            <input placeholder="Search" type="search" class="input-sm form-control" name="search" value="">
        </form>
    </div>
    {% endwith %}
    {% endblock mdpage_navbar %}
    {% block mdpage_messages %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endblock mdpage_messages %}
    
    <h1>{% block page_title %}{% endblock %}</h1>
    {% block mdpage_content %}{% endblock mdpage_content%}
    {% block mdpage_extra %}{% endblock mdpage_extra %}
{% endblock %}
