{% extends "mdpage/base.html" %}
{% block title %}Edit Wiki Tags{% endblock %}
{% block page_title %}Edit Wiki Tags{% endblock %}
{% block mdpage_content %}
<form action="" method="post" accept-charset="utf-8">
    <table class="table">
        <tbody>
            {% for page in pages %}
            <tr>
                <th><label>{{ page.title }}</label></th>
                <td>
                    <input class="form-control" type="text" name="page_{{ page.pk }}" value="{{ page.tags_str }}" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </div>
    
</form>
{% endblock %}
