{% extends "mdpage/base.html" %}
{% block title %}Revision History{% endblock %}
{% block page_title %}Revision History for {{ page.title }}{% endblock %}
{% block mdpage_content %}
    <p><a href="{{ page.get_absolute_url }}">Back to {{ page.title }}</a></p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="center">Version</th>
                <th class="center">Update</th>
                <th class="center">Author</th>
                <th class="center">Length</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for arc in page.markdownpagearchive_set.all %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="center">{{ arc.version }}</td>
                <td class="center">{{ arc.created }}</td>
                <td class="center">{{ arc.user|default:""}}</td>
                <td class="center">{{ arc.text|length|filesizeformat }}</td>
                <td class="center">
                    <a href="{{ arc.get_absolute_url }}">View {{ arc.version }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if archive %}
    <h2 class="heading" id="wiki-title">{{ archive }} <small>{{ archive.text|length }} bytes</small></h2>
    <pre class="markdown">{{ archive.text }}
    </pre>
    {% endif %}
{% endblock %}
