{% extends "mdpage/base.html" %}
{% block mdpage_title %}{{ title }}{% endblock mdpage_title%}
{% block mdpage_content %}
    {% load pagination_tags mdpage_tags %}
    {% autopaginate pages 100 %}
    <h1>{{ title }}</h1>
    {% if mdp_settings.show_recent_activity_link %}
    <p><a href="{{ mdp_type.get_absolute_url }}?recent">Recent Activity</a></p>
    {% endif %}
    {% select_template mdp_type "home_listing.html" as tmpl %}
    {% if mdp_settings.show_topics %}
    <div class="row">
        <div class="col-md-10">
            {% include tmpl %}
        </div>
        <div class="col-md-2">
            {% select_template mdp_type "topics.html" as tmpl %}
            {% include tmpl %}
        </div>
    </div>
    {% else %}
    {% include tmpl %}
    {% endif %}
    {% paginate %}
{% endblock mdpage_content %}
