{% extends "mdpage/base.html" %}
{% block mdpage_title %}{% if page %}{{ page.title }}{% else %}{{ context.description }}{% endif %} {% endblock %}
{% block mdpage_content %}
    <h1 class="{% if not page.is_published %}text-warning{% endif %}">{% if page %}{{ page.title }}{% else %}{{ context.description }}{% endif %}</h1>
    {% with user.is_authenticated as is_auth  %}
    {% if page %}
        <div class="mdpage-info">
            <div>
                <span class="label label-primary text-uppercase">{{ page.updated|date }}</span>
                <ul class="list-inline mdpage-page-menu">
                    {% if is_auth and not page.is_published %}
                    <li class="list-inline-item"><strong class="text-warning">Pending</strong></li>
                    {% endif %}
                    {% if is_auth or mdp_type.show_history %}<li class="list-inline-item"><a href="{{ page.history_url }}">History</a></li>{% endif %}
                    {% if is_auth or mdp_type.show_text %}<li class="list-inline-item"><a href="{{ page.text_url }}">Text</a></li>{% endif %}
                    {% if is_auth %}<li class="list-inline-item"><a href="{{ page.edit_url }}">Edit</a></li>{% endif %}
                </ul>
            </div>
            {% if mdp_type.show_topics and page.tags.count %}
            <div class="mdpage-topics">
                Topics: {% for tag in page.tags.all %}
                <a class="badge" href="{{ page.type.get_absolute_url }}?topic={{ tag }}">{{ tag }}</a>{% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="markdown">
            {{ page.html|safe|default:"This page is currently blank." }}
        </div>
        <hr>
        {% if is_auth %}
        <p class="text-center text-muted">
            <em><small>
            Status: <strong>{{ page.get_status_display }}</strong> &middot;
            Created: {{ page.created|date:"D, j M y P" }} &middot;
            Updated: {{ page.updated|date:"D, j M y P" }}
            {% if page.pub_date %}
             &middot; Published: {{ page.pub_date }}
            {% endif %}
            </small></em>
        </p>
        {% endif %}
    {% endif %}
    {% endwith %}

    {% if 0 %}
    <h2 class="heading wiki-title">
        <div class="mdpage-menu"><a href="{{ page.upload_url }}">Upload Attachment</a></div>
    </h2>

    {% with page.staticcontent_set.all as content %}
    {% if content %}
    <ul id="content-list"> {% for c in content %}
        <li>
            <strong><a href="{{ c.path }}">{{ c.path.basename }}</a></strong> &mdash;
            {{ c.media.size|filesizeformat }} | {{ c.mimetype }} |
            {{ c.path }}
            {% if c.description %}
            <p><em>{{ c.description }}</em></p>{% endif %}
        </li> {% endfor %}
    </ul>
    {% else %}
    <p><em>&mdash; No Content &mdash;</em></p>
    {% endif %}
    {% endwith %}
    {% endif %}
{% endblock mdpage_content %}
